:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --text-decoration-color: #757575;
  --title-color: #212121;
  --secondary-color: #ffffff;
  --footer-color: #2f303a;
  --footer-link-kolor: rgba(255, 255, 255, 0.6);
  --bacgraund-color: #2f303a;
  --bacground-secon-color: #f5f4fa;
  --section-pt: 94px;
  --section-pb: 94px;
}
body {
  font-family: var(--main-font);
  color: var(--title-color);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  current: var(--accent-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  color: var(--text-decoration-color);
}

.adress {
  font-style: normal;
}
/* ------ header ---- */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header .container {
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
  margin-left: 94px;
}

.tell-list {
  display: flex;
  align-items: center;
}
.tell-item:not(:last-child) {
  margin-right: 50px;
}

.navidation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.header-studio {
  color: var(--title-color);
}
.navigation-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.tells {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.tell {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-decoration-color);

  padding-top: 32px;
  padding-bottom: 32px;
}
.info:focus,
.info:hover {
  color: var(--accent-color);
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
/* ------ end header ---- */
/* ----- hero------ */
.text {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.heroo-color {
  background-color: var(--bacgraund-color);
}
.heroo-color .container {
  text-align: center;
  width: 1200px;
  padding: 200px 0;
}
.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-transform: uppercase;
  margin-top: 30px;
  border-style: none;
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

/* -----  end hero------ */

/* --- FEATURES ---*/
.features .container {
  width: 1200px;
  padding-top: 94px;
}
.features-list {
  display: flex;
  align-items: center;

  margin-left: -30px;
  margin-top: -30px;
}
.features-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.features-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
.features-text-item {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-decoration-color);
}
/* ---  end FEATURES ---*/
/* WHAT_ARE_WE_DOING */
.wedoing-list {
  padding-top: 94px;
}
.wedoing-list .container {
  width: 1200px;
  padding-bottom: 94px;
}
.work-list {
  display: flex;
  text-align: center;
  margin-left: -30px;
  margin-top: -30px;
}
.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.wedoing-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-color);
}
/* end WHAT_ARE_WE_DOING */
/* ---Team--- */
.our-team {
  align-items: center;
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
  background-color: var(--bacground-secon-color);
}
.our-team .container {
  width: 1200px;
}
.team-list {
  display: flex;
  text-align: center;
  margin-left: -30px;
  margin-top: -30px;
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.our-team-wrapper {
  padding: 30px 55px;
  background: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-first {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.name-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-color);
}
.proffesion-our-team {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-decoration-color);
}
/* --- end Team--- */
/* --footer-- */
.foot-stile {
  background-color: var(--footer-color);
}
.foot-stile .container {
  width: 1200px;
}
.adress {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.foot-stile {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-dark {
  color: var(--secondary-color);
}
.map-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-kolor);
  margin-top: 9px;
}

/* --end footer-- */
/* --- portfolio---- */
.main {
  padding-top: 94px;
}
.main .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.main-list {
  display: flex;
  margin-bottom: 50px;
  flex-direction: row;
  justify-content: center;
}
.list-btn:not(:last-child) {
  margin-right: 8px;
}

.projekt-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.main-btn:hover,
.main-btn:focus {
  color: var(--bacground-secon-color);
  background: var(--accent-color);
}
.main-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--bacground-secon-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-style: none;
  min-width: 100px;
  cursor: pointer;
  padding: 6px 22px;
}
.projekt-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  background-color: var(--secondary-color);
  flex-basis: calc(100% / 9 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.projekt-list-item {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.projekt-wrapper {
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 24px 20px;
  border-top: none;
}
.info-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--text-decoration-color);
}

/* ----portfolio---- */
